
.hero-area {

    padding-top: 100px;
    background: rgb(168,0,224);
    background: linear-gradient(343deg, rgba(168,0,224,1) 0%, rgba(170,159,247,1) 48%, rgba(255,255,255,1) 100%);
    
    min-height: 300px;
}

footer {
    background-color: rgb(93, 93, 93);
    color: white;
    margin-top: 100px;
}